body {
	background-image: url("https://images.pexels.com/photos/1172675/pexels-photo-1172675.jpeg?cs=srgb&dl=alam-daun-daun-dedaunan-pertumbuhan-1172675.jpg&fm=jpg");
	background-size: cover;
	margin: auto;
    padding-bottom: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-position: center;
}

.login-form {
	display: flex;
	text-align: center;
	background: transparent;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.login_form {
	width: 300px;
	margin-top: 90px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 80px 10px;
	padding-bottom: 50px;

}

h3{
	margin-bottom: 20px;
	margin-top: -50px;
	font-size: 30px;
	color: white;
}

input[type='text'],input[type='password'] {
    border: 1px solid rgba(255, 255, 255, .2);
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
	justify-content: center;
	background: transparent;
	backdrop-filter: blur(10px);
	border-radius: 10px;
	color: white;
}

input[type='text']::placeholder,input[type='password']::placeholder {
	color: white;
}

input[type='submit']{
	width: 20%;
    border: none;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-weight: bold;
	margin-top: 20px;
}

input[type='submit']:hover{
    background-color: #00ADB5;
}

p, a{
	margin-top: 30px;
	color: white;
	text-decoration: none;
}

a:hover{
	border-bottom: 2px solid white;
}